:root {
	--brand: #df3062;
	
	/* Background */
	--bg: #e8e8e8;
	--off-bg: #fafafa;
	--inner-bg: #e0e0e0;

	/* Text */
	--fg: #000; /* Main body */
	--off-fg: #585858; /* Aside */
	--muted: #585858;
	--link: var(--brand);
	--hover: #7f1c38;
	/* --highlight: #f9b6c9; */
	--highlight: var(--brand);

	/* Logo */
	--logo: var(--brand);
}

