@import url("https://rsms.me/inter/inter.css");

:root {
    --font-monospace: "Fira Mono", monospace;
}

body {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    font-size: 16px;
    line-height: 1.5rem;
}

.font-tnum {
    font-feature-settings: "tnum" 1;
}

@supports (font-variation-settings: normal) {
    :body { font-family: InterVariable, sans-serif; }
}

hr {
    font-family: var(--font-monospace);
}

/* Headings */
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-size: 1.25rem;
    margin: 1.5rem 0 0.8rem 0;
    font-weight: 600;
    font-family: var(--font-monospace);
}

h1:before { content: "# "; }
h2:before { content: "## "; }
h3:before { content: "### "; }
h4:before { content: "#### "; }
h5:before { content: "##### "; }
h6:before { content: "###### "; }

h1:before, 
h2:before, 
h3:before, 
h4:before, 
h5:before, 
h6:before {
    /* color: var(--muted); */
    color: var(--brand);
}

h1:first-child {
    margin-top: 0;
}

/* Page nav */
.page__nav {
    font-family: var(--font-monospace);
}

.page__nav h1,
.page__nav h2,
.page__nav h3,
.page__nav h4,
.page__nav h5,
.page__nav h6 {
    font-size: 1rem;
}

/* Paragraphs */
p {
    margin: 0 0 1.5rem 0;
}

p:not(.regular-margin):has(+ ul, + ol), p.small-margin {
    /* Note that the first selector is kinda dodgy < FF121 */
    margin: 0 0 0.5rem 0;
}

/* Links */

a:link, a:visited {
    color: var(--link);
}

a:hover, a:active, a.active {
    color: var(--hover);
}

/* Lists */
ul, ol {
    margin: 0 0 1.5rem 0;
}

ul ul,
ul ol,
ol ul,
ol ol {
    margin: 0;
}

ul li::marker {
    font-family: var(--font-monospace);
    content: '∗\00A0';
    color: var(--brand);
}

ol li::marker {
    color: var(--brand);
}

dt {
  margin: 0;
  font-weight: bold;
}

dd {
  margin: 0 0 0 1.5rem;
  font-style: italic;
}

dd + dt {
  margin-top: 1.5rem;
}

dl {
  margin: 0 0 1.5rem 0;
}

/* Blockquotes */
blockquote {
    margin: 0 1rem 1.5rem 1rem;
    padding: 0.5rem 1rem;
    border-left: 3px solid var(--brand);
    background-color: var(--bg);
}

blockquote p:last-of-type {
    margin-bottom: 0;
}

/* Code */
pre,
code, 
kbd,
samp {
    background: var(--inner-bg) !important;
    font-family: var(--font-monospace);
    color: var(--off-fg);
}

pre {
    overflow-x: auto;
    padding: 1.5rem;
    margin: 0 0 1.5rem 0;
}

/* Fix overflow when config markup.highlight.lineNos is true */
/* See https://github.com/joeroe/risotto/issues/41 */
.highlight div {
	overflow-x: auto;
}

/* Emphasis */
b,
strong {
    font-weight: 600;
}

/* Highlighting */
::selection,
mark {
    background-color: var(--highlight);
    color: var(--bg);
}

/* Other typographic elements */
hr {
    border: 0;
    margin-bottom: 1.5rem;
}

hr:after {
    content: '---';
    color: var(--muted);
}


/* Prevent super/sub from affecting line height */
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.25rem;
    font-size: unset;
}
sub { 
    top: 0.25rem; 
}

/* Tables */
table {
    border-spacing: 0;
    margin: 0 0 1.5rem 0;
    overflow-wrap: anywhere;
}
th, td {
    padding: 0 .75rem;
    vertical-align: top;
}
th:first-child, td:first-child {
    padding-left: 0;
}
th {
    text-align: inherit;
}

/* Figures */
img {
    max-width: 100%;
    height: auto;
}
